{% extends "layout.html" %}
{% block body %}

  <div class=left>
    <select onchange="fliterList()" id=userGameSelect1>
      {% for user in entries[1] %}
        <option value={{user.id}}>{{user.first_name + ' ' + user.last_name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class=right>
    <select onchange="fliterList()" id=userGameSelect2>
      {% for user in entries[1] %}
        <option value={{user.id}}>{{user.first_name + ' ' + user.last_name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class=entries id=gameList>
  {% for entry in entries[0] %}
    <div style='width:100%' class=gameEntry winner={{entry.winner_id}} loser={{entry.loser_id}}><em>{{ entry.winner_name}}</em> {{entry.winner_score}} - {{entry.loser_score}} <em>{{entry.loser_name}}</em>
  {% else %}
    <em>No Games Yet</em>
  {% endfor %}
  </div>
{% endblock %}