{% extends "layout.html" %}
{% block body %}

<h2 style="text-align:center;"> <span class="red">Pioneer Square Labs</span> <span class="green">Ping Pong </span> <span class="blue"> Rankings</span></h2>

<div style="height:10px;"></div>

<div class=row>
  <div class="col-md-2 col-sm-2"></div>
  <!-- <div class=col-md-8> <img style="width:100%" src="static/alex-ping-repeating.gif" /> </div> -->
  <div class=col-md-8> <img style="width:100%" src="static/pong-atari.gif" /> </div>
  <div class="col-md-2 col-sm-2"></div>
</div>

<div class=footer_container>
  <div class=footer>
    <div class="col-md-4 col-sm-4">
        <button id="btn-red" type="button" style="width:100%;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addGameModal">
          Add Game
        </button>
      </div>
      <div class="col-md-4 col-sm-4">
        <button id="btn-green" type="button" style="width:100%" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUserModal">
          Add Player
        </button>
      </div>
      <div class="col-md-4 col-sm-4">
        <button id="btn-blue" type="button" style="width:100%" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCatchphraseModal">
          Add Player Slogan
        </button>
      </div>
  </div>
</div>

<div style="height:10px;"></div>
<div class=row>
  <div id="champ" class="scroll-left">
    <p>
      {% if rankings|length > 0 %}
        {{rankings[0].first_name + ' ' + rankings[0].last_name}} is the champ
      {% endif %}
    </p>
  </div>
</div>

<div style="height:10px;"></div>
<div class=row id="behind">
  <div class=col-md-12>

    <table class="table">
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>ELO Score</th>
        <th>Pct</th>
      </tr>
      {% for user in rankings %}
        <tr>
          <td>
            {{ loop.index }}
            {% if loop.index == 1 %}
             💪💪💪🍻🍻💯💯🙌
            {% elif loop.index == 2 %}
             👏👀☝️
            {% elif loop.index == 3 %}
             🙄
            {% elif loop.index == rankings|length %}
             ☹️😿😢
            {% else %}

            {% endif %}

            {%if user.first_name == 'Ben' %}
             ·¯\_(ツ)_/¯
            {% elif user.first_name == 'Trip' %}
             ·🤘📯
            {% elif user.first_name == 'Mariia' %}
             ·😋
            {% endif %}
          </td>

          <td>{{ user.first_name + ' ' + user.last_name }}</td>
          <td>{{ user.elo }}</td>
          <td>{{ "%.3f"|format((user.won / (user.won + user.lost + 0.0001)) ) }} </td>
        </tr>
      {% else %}
      {% endfor %}
    </table>
  </div>
</div>


<div style="height:1000px;"></div>

{% if rankings|length > 0 %}
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>
<div style="height:20px;"></div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-8 col-sm-8" id="champ">
    <h3>
        {{rankings[0].first_name + ' ' + rankings[0].last_name}} is the champ
    </h3>
  </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>
{% endif %}


<!-- EASTER EGGZZZZzzz-->
<div style="height:2048px;"></div>
  <div class=row><div class=col-md-3></div><div class=col-md-6> <h1>⬇️ Secret Stuff ⬇️</h1></div><div class=col-md-3></div></div>
<div style="height:2048px;"></div>

<div style="height:30px;"></div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>
<div style="height:20px;"></div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-8 col-sm-8" id="champ">
    {% for user in rankings %}
      {% if loop.index == rankings|length %}
      <h1>{{ user.first_name + ' ' + user.last_name }} is a pretty rad dude!</h1>
      {% else %}
      {% endif %}
    {% else %}
    {% endfor %}
  </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong5.gif" /> </div>
</div>

<div style="height:530px;"></div>

<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
</div>
<div style="height:10px;"></div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-8 col-sm-8" id="champ">
    <h1>The type of dude that lets everybody win! ;)</h1>
  </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
</div>
<div style="height:10px;"></div>
<div class=row style="padding-bottom:10px;">
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
  <div class="col-md-2 col-sm-2"> <img style="width:100%" src="static/pong6.gif" /> </div>
</div>
<div style="height:180px;"></div>

<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a User</h4>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('add_user') }}" method=post class=form-inline>
          <div class="input-group">
            <input name=fn type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
          </div>
          <div class="form-group">
            <input name=ln type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Game</h4>
      </div>
      <div class="modal-body">

        <form action="{{ url_for('add_game')}}" method="post" class=form-horizontal>
          <div class="form-group">
            <label for="winner" class="col-sm-2 control-label">Winner</label>
            <div class="col-sm-10">
              <select name=winner class=form-control>
                <option>Select Player</option>
                {% for user in users %}
                  <option>{{ user.first_name + ' ' + user.last_name }}</option>
                {% else %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="loser" class="col-sm-2 control-label">Loser</label>
            <div class="col-sm-10">
              <select name=loser class=form-control>
                <option>Select Player</option>
                {% for user in users %}
                  <option>{{ user.first_name + ' ' + user.last_name }}</option>
                {% else %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCatchphraseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Slogan!</h4>
      </div>
      <div class="modal-body">

        <form action="{{ url_for('add_catchphrase')}}" method="post" class=form-horizontal>

          <div class="form-group">
            <div class="col-sm-10">
              <select name=name class=form-control>
                <option>Select Player</option>
                {% for user in users %}
                  <option>{{ user.first_name + ' ' + user.last_name }}</option>
                {% else %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="input-group">
            <input name=phrase style='width: 100%;' type="text" class="form-control" placeholder="Phrase goes here!" aria-describedby="basic-addon1">
          </div>

          <button type="submit" class="btn btn-default">Go</button>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
